.tab-content {
  max-height: 130vh;
  padding-bottom: 1rem;
  overflow-y: auto; /* Hide scrollbar but allow scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.tab-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
